html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    text-align: center;
}

#home{
    display: block;
}
#titleWrapper{
    display: block;
    position: sticky;
    top: 0;
    width:100%;
    background-color: rgb(37, 66, 146);
    padding: 5px;
    z-index: 2;
    left:0;
    color: white;
}
/*Add something later for mobile screens*/

#AboutMe{
    background-color: #F3EFE0;
}

#Projects{
    background-color: #F3EFE0;
    padding-top: 10px;
    padding-bottom: 100px;
}

#Skills{
    background-color: rgb(166, 214, 210);
    padding-bottom: 100px; 
    padding-top: 10px;
}

#Experiences{
    padding-top: 10px;
    background-color: rgb(166, 214, 210);
    padding-bottom: 100px;
}

#Education{
    padding-top: 10px;
    background-color: #F3EFE0;
    padding-bottom: 100px;
}

#ExtraCurriculars{
    background-color: rgb(166, 214, 210);
    padding-top: 10px;
    padding-bottom: 100px;
}

#ResumeDownload{
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: rgb(70, 66, 66);
}

#titleBar{
    width:49.5%;
    align-items: left;
    text-align: left;
    float: left;
    top: 0;
    z-index: 2;
    left:1px;
}
#navBar{
    width: 49.5%;
    align-items: right;
    text-align: right;
    overflow: hidden;
    top: 0;
    z-index: 3;
    right:1px;
    padding: 1px;
}

.contactButton{
    background-color: transparent;
    border: none;
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    /* Rounds corners */
    border-radius: 12px;
    transition-duration: 0.4s;
}

.contactButton:hover{
    background-color: white;
    box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24),0 17px 50px 0 rgb(0,0,0,0.19);
}

#sideBar{
    background-color: transparent;
    margin: 0;
    align-items: right;
    position: fixed;
    display: block;
    text-align: right;
    z-index: 1;
    overflow: hidden;
    bottom: 0;
    right: 0;
    /*gets 50% of screen height*/
    padding-bottom: 40vh;
    padding-right: 10px;
}

#sideBarWrapper{
    background-color: rgb(163, 57, 57);
    opacity: 0.3;
    transition-duration: 0.4s;
}

#sideBarWrapper:hover{
    opacity: 1;
}

.sideBarButton{
    font-size: medium;  
    background-color: transparent;
    border: none;
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    /* Rounds corners */
    border-radius: 12px;
    transition-duration: 0.4s;
}

.sideBarButton:hover{
    box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24),0 17px 50px 0 rgb(0,0,0,0.19);
}

.projectCards{
    border-style: none;
    text-align: left;
    border-radius: 10px;
    background-color: rgb(172, 170, 170); 
    color: white;
    padding: 10px; 
    width: 40%; 
    margin: 5px;
    vertical-align: top; 
    display: inline-block;
    transition-duration: 0.4s;
}

.projectCards:hover{
    box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24),0 17px 50px 0 rgb(0,0,0,0.19);
}

.cards{
    margin: 5px;
    text-align: left;
    background-color: rgb(167, 135, 135);
    width: 40%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: none;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.cards:hover{
    box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24),0 17px 50px 0 rgb(0,0,0,0.19);
}